.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

body {
    background-image: url("paper.gif");
    background-repeat: repeat-y;

    background-image: url('../images/hatter_ibolya_cukraszda.jpg');
    background-repeat: repeat-y;
    /*background-attachment: fixed;*/
}



/*

.header {
    min-height: 120px;
}

.container {
    min-height: 0px !important;
}

.content {
    overflow: hidden;
}

.category-detail {
    text-align: center;
}

.content-cake {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 25px;
}

.cake {
    width: 117px;
    padding: 0px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 6px;
    float: left;
}

.cake-header {
    min-height: 25px;
    background-color: lightgrey;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;
}

.cake-img {
    width: 115px;
}

.cake-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}


.footer {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 25px;
}

.side-images {
    width: 100%;
}

.side-right-images-corner {

}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop_img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.taste-img {
    width: 100%;
}

.taste-box {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.taste-pcs-line {
    background-color: white;
    padding-top: 10px;
}


*/