/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 320px) {
    .col-xxs-24 {
        width: 100%;
    }
}

/* Only extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .col-xxs-24 {
        width: 33.33333333333333%;
    }
}

@media (max-width: 480px) {
    .col-xxs-24 {
        width: 50%;
    }

}

@media (max-width: 767px) {
    .tastes-box {
        margin-top: 10px;
        border: 1px solid lightgrey;
        border-radius: 6px;
        background-color: white;
        text-align: center;

    }

    .cake-item-details img,
    .taste-img {
        width: 75%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .cake-item-details img,
    .taste-img {
        width: 90%;
        height: auto;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .tastes-box {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid lightgrey;
        border-radius: 6px;
        background-color: white;
        text-align: center;

    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* EXTRA */
@media (min-width: 1920px) {

}