#mainMenuContainer .nav.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

@media (max-width: 767px) {

    #mainMenuContainer {
        text-align: left;

    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    /* navbar */
    .navbar-default {
        background-color: #ffffff;
        border-color: #ffffff;
        align: left;
    }

}

@media (min-width: 768px) {
    /* navbar */
    .navbar-default {
        background-color: #ffffff;
        border-color: #ffffff;
        text-align: center;
    }

    #mainMenuContainer {
        text-align: center;

    }
}
/* navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    border-bottom: 2px solid transparent;
    padding: 0; /*removing spacing*/
    margin: 14px; /*add spacing*/

}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid mediumpurple;
}

.navbar-default .navbar-nav > li > a:active {
    border-bottom: 2px solid mediumpurple;
}

body {

    background-image: url('../images/hatter_ibolya_cukraszda.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
    /*background-attachment: fixed;*/
}


.header {
    min-height: 120px;
}


.content {
    overflow: hidden;
}

.category-detail {
    text-align: center;

}

.content-cake {
    background-color: white;
    /*
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 25px;
      */
    border: 1px solid lightgrey;
    padding: 10px 10px 0;
}

.content-cake h2 {
    font-size: 100%;
    margin: 0;
}

.cake {

    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 6px;
    margin-bottom: 10px;
}

.cake-header {
    min-height: 25px;
    background-color: lightgrey;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;
}

.cake-img {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.cake-img img {
    width: 100%;
    height: auto;
}

.cake-center {
    margin: 0 auto;
    width: 98%;
}

.content-title {
    text-align: center;
    text-transform: uppercase;
}

.content-title-taste {

    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    margin-top: 15px;
}

.cake-container {

    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-around;*/

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

}

.cookie-input {
    width: 100px;
}

@media screen and (min-width: 1080px) {

    .table-container {
        margin-left: 100px;
        margin-right: 100px;
    }
}



.footer {
    height: 150px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 15px;


    bootom: 0;
    position: relative;
}

.footer-container {
    margin-left: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-data {
    width: 50%;
}

.side-images {
    width: 100%;
}

.side-right-images-corner {

}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}



.taste-pcs-line {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.tastes {
    text-align: center;
    margin: 10%;
}

.background-white {
    background-color: white;
}

.background-grey {
    background-color: lightgrey;
}

.modal-price {
    display: inline;
}

.btnOrder {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.orderButton {
    background: mediumpurple;
    color: white;
    border: 1px solid white;
}

.orderButton:hover {
    background: #BA55D3;
    border: 1px solid white;
}

.orderButton:active {
    background: mediumpurple;
    border: 1px solid white;
}

.contentCookie {
    padding: 10px 10px 0;
    margin-bottom: 10px;
}

.footerLink {
    color: black;
}

.footerLink:hover {
    color: mediumpurple;
    text-decoration: none;
}

.footerIcon {
    display: inline;
    color: mediumpurple;
}

.contact {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

.aboutUs {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

.editable-content {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px 10px 0;

}


html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -150px;
}

/* Set the fixed height of the footer here */

#footer {
    height: 150px;
}


#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}